.img-banner {
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.wrapper {
    width: 100%;
}

.img-info {
    width: 65%;
    float: right;
}

.img-news {
    float: left;
    width: 35%;
    padding-top: 50px;
}

.img-info h2 {
    padding: 30px 0px 0px 30px;
}

.img-info p {
    padding: 15px 0px 0px 30px;
    line-height: 30px;
    text-align: justify;
}


@media only screen and (max-width: 965px) {

    .wrapper {
        width: 100%;
    }

    .img-news {
        float: none;
        width: 100%;
        padding-top: 30px;
    }

    .img-info {
        float: none;
        width: 100%;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 450px) {

    .wrapper {
        width: 100%;
    }

    .img-banner {
        display: none;
    }

    .img-info h2 {
        padding: 30px 30px 20px;
        font-family: arial;
        font-size: 2em;
        color: #111;
        line-height: 44px;
    }

    .img-info p {
        padding: 30px 30px 20px;
        font-family: arial;
        font-size: 1em;
        color: #111;
        line-height: 24px;
    }

    .img-news {
        width: 100%;
    }
}